<!DOCTYPE html>
<html>
  <head>
      <title>Weather</title>
  </head>
  <body>
        <form action="/" method="post">
                Enter city:
                <input type="text" name="city" required>
                <input type="submit" value="Submit">
                <p><%= weather %></p>
        </form>        
  </body>
</html>
